.bannerText {
    font-family: KdamThmorPro;
    font-size: 10vw;
}

.fixedNavbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    padding: .2rem;
    gap:     .2rem;
    border: #1b2e1a;
    border-style: solid;
    border-width: 2px;
    align-content: stretch;
    position: fixed;
    left: 0px;
    top: 0px;
    width: -webkit-fill-available;
    height: 2.7rem;
}

.activeTransitionFixedNavbar {
    transition: translate .5s;
}

.hideFixedNavbar {
    translate: 0 -100%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    padding: .2rem;
    gap:     .2rem;
    border: #1b2e1a;
    border-style: solid;
    border-width: 2px;
    height: 2.7rem;
    align-content: stretch;

}

.navbutton {
    background: #1b2e1a;
    color: white;
    padding: 0px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.banner {
    height: 20vh;
    border: #1b2e1a;
    border-style: solid;
    border-width: 2px;
    margin-bottom: .2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
